*.iml
.gradle
/local.properties
.idea/
*.ids
*.ipr
*.iws
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/
.quickjs_cache/
jniLibs/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
captures/
.navigation/
proguard/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/app/src/main/python/pip-cache/
/app/src/main/python/yt-dlp/
/app/src/main/python/yt-dlp-ejs/
/app/src/main/python/pip/
/app/src/main/python/setuptools/
/app/src/main/python/wheel/
/app/src/main/python/certifi/
/app/src/main/python/charset-normalizer/
/app/src/main/python/idna/
/app/src/main/python/requests/
/app/src/main/python/urllib3/
/app/src/main/python/pkg_resources/
/app/src/main/python/download.py
/app/src/main/python/requirements.txt
/app/src/main/python/lib/
/app/src/main/python/bin/
/app/src/main/python/include/
/app/src/main/python/share/
/app/src/main/python/src/
/app/src/main/python/*.pyc
/app/src/main/python/*.pyo
/app/src/main/python/__pycache__/
